@using Nop.Core.Domain.Sliders
@using Nop.Services
@model SliderModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<script>
    var firstLoad = true;
    $(function() {
        reloadItemsByEntityType();

        $("#@Html.IdFor(v => v.EntityTypeId)").on("change",
            function() {
                reloadItemsByEntityType();
            });
    });

    function reloadItemsByEntityType() {
        var selectedEntity = $("#@Html.IdFor(v => v.EntityTypeId)").val();
        var entityItems = $("#@Html.IdFor(model => model.EntityId)");
        $.ajax({
            cache: false,
            type: "GET",
            url: "@(Url.Action("GetItemsByEntityType", "Slider"))",
            data: {
                "entityType": selectedEntity
            },
            success: function (data, textStatus, jqXHR) {
                entityItems.html('');
                $.each(data, function (id, option) {
                    entityItems.append($('<option></option>').val(option.Id).html(option.Name));
                });
                if (firstLoad) {
                    $("#@Html.IdFor(model => model.EntityId)").val('@Model.EntityId');
                    firstLoad = false;
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {

            }
        });
    };
</script>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-body">
            @(Html.LocalizedEditor<SliderModel, SliderLocalizedModel>("slider-info-localized",
                @<div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.Locales[item].Name" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.Locales[item].Name" />
                            <span asp-validation-for="@Model.Locales[item].Name"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.Locales[item].Description" />
                        </div>
                        <div class="col-md-9">
                            <nop-textarea asp-for="@Model.Locales[item].Description" />
                            <span asp-validation-for="@Model.Locales[item].Description"></span>
                        </div>
                    </div>
                    <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                </div>
    ,
                @<div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Name" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Name" asp-required="true" />
                            <span asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Description" />
                        </div>
                        <div class="col-md-9">
                            <nop-textarea asp-for="Description" />
                            <span asp-validation-for="Description"></span>
                        </div>
                    </div>
                </div>))

            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="PictureId" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="PictureId" />
                    <span asp-validation-for="PictureId"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="EntityTypeId" />
                </div>
                <div class="col-md-9 row">
                    <div class="col-md-2">
                        <nop-select asp-for="EntityTypeId" asp-items="@(((SliderEntityTypeEnum)Model.EntityTypeId).ToSelectList())" />
                        <span asp-validation-for="EntityTypeId"></span>
                    </div>
                    <div class="col-md-4">
                        <nop-select asp-for="EntityId"/>
                        <span asp-validation-for="EntityId"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Published" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Published" />
                    <span asp-validation-for="Published"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DisplayOrder" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="DisplayOrder" />
                    <span asp-validation-for="DisplayOrder"></span>
                </div>
            </div>
        </div>
    </div>
</div>